# TA - Sistem Pembayaran SPP
# Root gitignore

# Node
node_modules/
dist/
dist-ssr/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
